{% extends "layout.html" %}
{% block body %}
<h1 style="font-weight: 400; text-align: center;  margin: 50px; margin-top: 150px;">First, We Need To Create An Outline!
</h1>

<form style="margin: auto; width: 70%; max-width: 100%; text-align: center; margin-top: 50px;" action="/outline-results"
    method="get">
    <div class="mb-3">
        <label for="title" class="form-label">Article Title:</label><br>
        <input type="text" id="title" name="title" class="form-control"><br>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label">Number Of Paragraphs:</label><br>
        <input type="number" id="number" name="number" class="form-control"><br>
    </div>
    <div>
        <input type="submit" value="Next" class="btn btn-primary"
            style="background-color: darkturquoise; border-color: darkturquoise;">
    </div>
</form>
{% endblock %}