{% extends "layout.html" %}
{% block body %}
<style>
    .add:hover {
        opacity: 1;
    }
</style>
<div style="text-align: center;">
    <h2 style="margin-top: 50px;">Outline</h2>
    <form action="/paragraphs" method="get">
        <input value="{{title}}" style="display: none;" name="title">
        <input value="{{number}}" style="display: none;" name="number">
        {% for x, y in outline_output %}
        <br>
        <div class="mb-3">
            <input value="{{x}}" style="margin: 0 auto; width: 70%; max-width: 100%; text-align: center;"
                class="form-control" name="{{y}}">
        </div>
        {% endfor %}
        <div>
            <input type="submit" class="btn btn-primary"
                style="background-color: darkturquoise; border-color: darkturquoise; margin-top: 50px;">
        </div>
    </form>
</div>
{% endblock %}